#myHbox {
    -fx-background-color: #424242;
    -fx-spacing: 10;
    -fx-padding: 0 20;
}

#myHbox Button {
    -fx-background-color: #FFA500;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-content-display: graphic-only;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1);
}

#myHbox Button:hover {
    -fx-background-color: #FF8C00;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}

#myHbox Button:pressed {
    -fx-background-color: #FF6600;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 1);
}

#myHbox Button .graphic {
    -fx-padding: 0;
}

#myHbox Button .graphic > ImageView {
    -fx-fit-width: 24px;
    -fx-fit-height: 24px;
}


#wikiButton {
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 16px;
}

#gitHubButton {

}

#home {

}

#back {

}