#myHbox {
    -fx-background-color: #424242;
    -fx-spacing: 5;
    -fx-padding: 5;
    -fx-max-height: 30px;
    -fx-max-width: 602px;
}

#myHbox Button {
    -fx-padding: 3px 8px;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #FFA500;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-content-display: graphic-only;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1);
}

#myHbox Button:hover {
    -fx-background-color: #FF8C00;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}

#myHbox Button:pressed {
    -fx-background-color: #FF6600;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 1);
}

#myHbox Button .graphic {
    -fx-padding: 0;
}
