#root {
    -fx-background-color: #FFFFFF;
}

#levelMenu {
    -fx-background-color: #f7f7f7;
    -fx-alignment: center;
}

.label {
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 4,0,0,1 );
    -fx-text-fill: #ff8c00;
    -fx-font-size: 28px;
    -fx-alignment: center;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #4d4d4d;
    -fx-content-display: top;
    -fx-graphic-text-gap: 10px;
    -fx-alignment: center;
}

Button .graphic {
    -fx-padding: 0;
    -fx-alignment: center;
}

Button .graphic > ImageView {
    -fx-fit-width: 24px;
    -fx-fit-height: 24px;
}

.button .text {
    -fx-padding: 5px 0;
}

.scroll-bar {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #e8e8e8;
    -fx-border-width: 2px;
}

.scroll-bar .thumb {
    -fx-background-color: #ff8c00;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-effect: null;
}
