#root {
    -fx-background-color: #FFFFFF;
}

#levelMenu {
    -fx-background-color: #f7f7f7;
    -fx-alignment: center;
}

.label {
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 4,0,0,1 );
    -fx-text-fill: #ff8c00;
    -fx-font-size: 28px;
    -fx-alignment: center;
}

.button {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #4d4d4d;
    -fx-content-display: top;
    -fx-graphic-text-gap: 10px;
    -fx-alignment: center;
}

Button .graphic {
    -fx-padding: 0;
    -fx-alignment: center;
}

Button .graphic > ImageView {
    -fx-fit-width: 24px;
    -fx-fit-height: 24px;
}

.button .text {
    -fx-padding: 5px 0;
}

#nextButton, #previousButton{
    -fx-padding: 3px 8px;
    -fx-font-size: 12px;
    -fx-cursor: hand;
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-color: #FFA500;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-content-display: graphic-only;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 2, 0, 0, 1);
}


#nextButton:hover, #previousButton:hover {
    -fx-background-color: #FF8C00;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}

#nextButton:pressed, #previousButton:pressed {
    -fx-background-color: #FF6600;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 1);
}
