.borderPane{
    -fx-background-color: #808080;
    -fx-alignment: center;
}

.label {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 80px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-text-fill: #FFA500;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 4,0,0,1 );
}