#myHbox {
    -fx-background-color: #424242;
    -fx-spacing: 10;
    -fx-padding: 0 20;
}

#myHbox Button {
    -fx-background-color: #FFA500;
    -fx-background-radius: 4px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-content-display: graphic-only;
}

#myHbox Button:hover {
    -fx-background-color: #FF8C00;
}
